<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>主页</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>
<body>
<h1 th:text="${session.user.username}"></h1>
<ul>
    <li shiro:lacksRole="admin">入网管理</li>
    <li shiro:lacksRole="admin">状态监控</li>
    <li shiro:lacksRole="admin">应用管理</li>
    <li shiro:hasRole="admin">用户管理</li>
</ul>
</body>
</html>