<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.MessageMapper">
    <select id="getAllMessage" resultType="com.example.entity.Message">
        select * from message
    </select>
    <select id="getMessageByName" resultType="com.example.entity.Message">
        select * from message where name = #{name}
    </select>
</mapper>